/*reset*/
*{

    margin:0;
    
    padding:0;
    
}

/*Entête*/

.container-fluid{
    z-index: 3;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #6ab04c;
}

.container-fluid h1{
    text-align: center;
    font-weight: bolder;
    color: #badc58;
}

.container-fluid ul, li a{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    color: white;
}

a:hover{
    color: #341f97;
}

.containerForm{
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: 150px;
    min-width: 800px;
    max-width: 100%;
}


/*Formulaire register*/

.containerForm1{
    display: flex;
    flex-direction: column;
    max-width: 55%;
    margin: 50px;
    padding: 50px;
    border: solid 2px gray;
    border-radius: 5px;
}

.containerForm1 h1{
    width: auto;
    margin: 0 50px 20px;
    text-align: center;
    background: #341f97;
    color: white;
    border-radius: 5px;
}

.containerForm1 p{
    margin: 0 50px 20px;
}

.containerForm1 form label{
    margin-left: 50px;
    padding: auto;
    float: left;
    color: #341f97;
    font-weight: bold;
}

.containerForm1 form input{
    float: right;
    width: auto;
    margin-right: 50px;

}

.containerForm1 .btn{
    background: #341f97;
    margin-top: 20px;
 }


input:invalid {
    border: 1px dashed rgb(180, 177, 175);
  }
  
input:valid {
    border: 1px solid rgb(6, 155, 11);
  }

/*Formulaire connect*/

.containerForm2{
    display: flex;
    flex-direction: column;
    max-width: 55%;
    margin: 50px;
    padding: 50px;
    border: solid 2px gray;
    border-radius: 5px;
}

.containerForm2 h1{
    width: auto;
    margin: 0 50px 20px;
    text-align: center;
    background: #4cd137;
    color: white;
    border-radius: 5px;
}

.containerForm2 p{
    margin: 0 50px 20px;
}

.containerForm2 form label{
    margin-left: 50px;
    padding: auto;
    float: left;
    color: #44bd32;
    font-weight: bold;
}

.containerForm2 form input{
    float: right;
    width: auto;
    margin-right: 50px;

}

.containerForm2 .btn{
    background: #4cd137;
    margin-top: 20px;
 }

/*Formulaire message*/

.containerForm3{
    display: flex;
    flex-direction: column;
    max-width: 55%;
    margin: 50px;
    padding: 50px;
    border: solid 2px gray;
    border-radius: 5px;
}

.containerForm3 h1{
    width: auto;
    margin: 0 50px 20px;
    text-align: center;
    background: #ff793f;
    color: white;
    border-radius: 5px;
}

.containerForm3 p{
    margin: 0 50px 20px;
}

.containerForm3 form label{
    margin: 0 0 20px 50px;
    padding: auto;
    float: left;
    color: #ff793f;
    font-weight: bold;
}

.containerForm3 form input{
    float: right;
    width: auto;
    margin-right: 50px;

}

.containerForm3 textarea{
   width: 100%;
}

.containerForm3 .btn{
   background: #ff793f;
   margin-top: 20px;
}

/*Formulaire Enregistrement de données*/

.containerForm4{
    display: flex;
    flex-direction: column;
    max-width: 55%;
    margin: 50px;
    padding: 50px;
    border: solid 2px gray;
    border-radius: 5px;
}

.containerForm4 h1{
    width: auto;
    margin: 0 50px 20px;
    text-align: center;
    background: #2f3640;
    color: white;
    border-radius: 5px;
}

.containerForm4 p{
    margin: 0 50px 20px;
}

.containerForm4 form label{
    margin: 0 0 20px 50px;
    padding: auto;
    float: left;
    color: #2f3640;
    font-weight: bold;
}

.containerForm4 form input{
    float: right;
    width: auto;
    margin-right: 50px;

}

.containerForm4 form select{
    float: right;
    width: auto;
    margin-right: 50px;

}

.containerForm4 textarea{
   width: 100%;
}

.containerForm4 .btn{
   background: #2f3640;
   color: white;
   margin-top: 20px;
}

/*Formulaire recherche*/

.containerForm5{
    display: flex;
    flex-direction: column;
    max-width: 55%;
    margin: 50px;
    padding: 50px;
    border: solid 2px gray;
    border-radius: 5px;
}

.containerForm5 h1{
    width: auto;
    margin: 0 50px 20px;
    text-align: center;
    background: #833471;
    color: white;
    border-radius: 5px;
}

.containerForm5 p{
    margin: 0 50px 20px;
}

.containerForm5 form label{
    margin: 0 0 20px 50px;
    padding: auto;
    float: left;
    color: #833471;
    font-weight: bold;
}

.containerForm5 form input{
    float: right;
    width: auto;
    margin-right: 50px;

}

.containerForm5 form select{
    float: right;
    width: auto;
    margin-right: 50px;

}

.containerForm5 textarea{
   width: 100%;
}

.containerForm5 .btn{
   background: #833471;
   color: white;
   margin-top: 20px;
}