* {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.entete{
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: darkolivegreen;
    text-align: center;
}
footer{
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 68, 31);
    color: white;
    text-align: center;
}

.entete h1{
    margin-bottom: 5px;
    color: #e9dddd;
    text-transform: uppercase;
    font-size: large;
}

.entete p{
    margin-top: 5px;
}

menu{
    display: flex;
    flex-direction: row;
}

.menu ul, li a{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin-right: 20px;
    background-color: darkslategray;
    color: white;
}

h1,h2,h3,h4{
    margin: 10px;
    color: chocolate;
}

p{
    margin: 20px;
}

img{
    display: flex;
    width: auto;
    margin: auto;
}

section, ul, ol{
    padding: 20px;
}

article{
    margin: 20px;
}

table{
    width: 100%;
    padding: 0px;
    text-align: center;
    border: solid 1px gray;
}

thead th{
    padding: 10px;
    margin: 0;
    background-color: darkgreen;
    color: white;    
}

#formulaires{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-content: space-around;
}

form{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: solid 2px gray;
    border-radius: 10px;
}

label{
    padding: 10px;
    color: green;
    font-size: larger;
}

input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 30px;
    border: solid 1px green;
    border-radius: 10px;


}

#submit{
    background-color: green;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}